# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ List popular tools for Data Science
+ Convert minutes to hours

## Author
Laurynas

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. matplotlib
4. scikit-learn
5. TensorFlow

|Data Science Tools|
|----------------------|
|RStudio|
|Apache Spark|
|TensorFlow|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335